@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/* reset css */
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #ffffff;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
}
h1 {
	font-size: 5rem;
	text-transform: uppercase;
}
h2 {
	font-size: 4rem;
	text-transform: uppercase;
}
h3 {
	font-size: 3rem;
	text-transform: uppercase;
}
h5 {
	font-size: 1.5rem;
}
p {
	font-size: 1.5rem;
	letter-spacing: .2rem;
	line-height: 1.5;
}
a {
	border-bottom: 1px dotted rgba(255, 255, 255, .5);
	font-size: 1.5rem;
	text-decoration: none;
}

/* is-load style */
body.is-loading .header .header_content__inner {
	max-height: 0;
	padding-top: 0;
	padding-bottom: 0;
	opacity: 0;
}
body.is-loading .header > * {
	opacity: 0;
}

/* is-section-visible style */
body.is-section-visible #bg:after {
	-webkit-filter: blur(0.2rem);
	        filter: blur(0.2rem);
	-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
}

/* bg style */
#bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 1;
}

#bg:before, #bg:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#bg:before {
	background-color: rgba(19, 21, 25, .5);
	z-index: 2;
}

#bg:after {
	background: url("../images/bg.jpg") center no-repeat;
	background-size: cover;
	-webkit-transition: -webkit-transform 0.325s ease-in-out, -webkit-filter 0.325s ease-in-out;
	transition: -webkit-transform 0.325s ease-in-out, -webkit-filter 0.325s ease-in-out;
	-o-transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out;
	transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out;
	transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out, -webkit-transform 0.325s ease-in-out, -webkit-filter 0.325s ease-in-out;
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
	z-index: 1;
}

/* wrapper style */
#wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	min-height: 100vh;
	width: 100%;
	padding: 3rem 2rem;
	position: relative;
	z-index: 3;
}
#wrapper:before {
	content: '';
	display: block;
}

/* container style */
.container {
	width: 100%;
}

/* header style */
.header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: center;
	max-width: 100%;
}
..header > * {
	-webkit-transition: opacity 0.325s ease-in-out;
	-o-transition: opacity 0.325s ease-in-out;
	transition: opacity 0.325s ease-in-out;
}
.header_logo i {
	border: 1px solid #ffffff;
	border-radius: 50%;
	font-size: 3rem;
	padding: 3rem
}
.header_content {
	border-bottom: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
	margin-top: 5rem;
	position: relative;
}
.header_content:before {
	content: '';
	background-color: #ffffff;
	position: absolute;
	left: calc(50% - 1px);
	top: calc(-5rem - 1px);
	height: 5rem;
	width: 1px;
}
.header_content__inner {
	max-height: 40rem;
	-webkit-transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in-out;
	-o-transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in-out;
	transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in-out;
	-webkit-transition-delay: 0.25s;
	-o-transition-delay: 0.25s;
	transition-delay: 0.25s;
	padding: 4rem 2rem;
}
.header_content__tittle {
	padding: 0 0 1rem;
}
.header_content__text p {
	text-transform: uppercase;
}

.header_button {
	border: 1px solid #ffffff;
	border-radius: .3rem;
	margin: 5rem auto 0;
	position: relative;
	text-align: center;
	width: 40rem;
}
.header_button:before {
	content: '';
	background-color: #ffffff;
	position: absolute;
	left: calc(50% - 1px);
	top: calc(-5rem - 1px);
	height: 5rem;
	width: 1px;
}
.header_button ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.header_button ul li {
	border-right: 1px solid #ffffff;
	-webkit-box-flex: 0;
	-webkit-flex: 0 1 100%;
	-ms-flex: 0 1 100%;
	flex: 0 1 100%;
}
.header_button ul li:last-child {
	border: 0;
}
.header_button ul li a {
	border: 0;
	display: block;
	font-size: 1.5rem;
	padding: 1rem 2rem;
}

/* main style */
#main {
	display: none;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	max-width: 60rem;
}
#main section {
	background-color: rgba(27, 31, 34, 0.85);
	padding: 5rem;
	position: relative;
	text-align: justify;
}
#main h3 {
	border-bottom: 1px solid #ffffff;
	padding: 0 0 1rem;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
}
#main p {
	padding-bottom: 2rem;
}
#main img {
	border-radius: .5rem;
	margin: 3rem 0;
	height: auto;
	width: 100%;
}

/* intro style */
#intro {
	display: none;
}

/* work style */
#work {
	display: none;
}

/* about style */
#about {
	display: none;
}

/* contact style */
#contact {
	display: none;
}
#contact form {
	padding: 2.5rem 0;
}
#contact form .field.half {
	float: left;
	width: 50%;
}
#contact form input, #contact form textarea {
	background-color: transparent;
	border: 1px solid #ffffff;
	border-radius: .5rem;
	padding: 1rem;
	width: 100%;
}
#contact form input:active,
#contact form textarea:active,
#contact form input:focus,
#contact form textarea:focus {
	background-color: rgba(255, 255, 255, 0.075);
	border: 1px solid #ffffff;
	border-radius: .5rem;
	-webkit-box-shadow: 0rem 0rem .5rem rgba(255, 255, 255, .5);
	        box-shadow: 0rem 0rem .5rem rgba(255, 255, 255, .5);
	outline: 0;
}
#contact label {
	font-size: 1.5rem;
	text-transform: uppercase;
}
#contact input {
	margin: 1rem 0 2rem;
}
#contact .half.first {
	padding-left: 0;
	padding-right: 1rem;
}
#contact .half {
	padding-left: 1rem;
}
#contact textarea {
	margin: 1rem 0 2rem;
}
#contact .container button {
	background-color: transparent;
	border: 1px solid #ffffff;
	border-radius: .5rem;
	cursor: pointer;
	margin-right: 1rem;
	padding: 1rem 2rem;
	text-transform: uppercase;
}
#contact .container button:first-of-type {
	background-color: #ffffff;
	color: #1b1f22;
}
#contact .contact_soc {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
#contact .contact_soc a {
	border: 1px solid #ffffff;
	border-radius: 50%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-right: 1.5rem;
	width: 3rem;
	height: 3rem;
}

/* close button style */
.close_button {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	font-size: 2rem;
	position: absolute;
	right: 1.5rem;
	top: 1.5rem;
	height: 4rem;
	width: 4rem;
}
.close_button:hover, .close_button:focus {
	background-color: rgba(255, 255, 255, .1);
	outline: none;
	border-radius: 50%;
}

/* footer style */
.footer {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 4rem 0 0;
	text-align: center;
}

@media (min-width: 2560px) {
	html, body {
		font-size: 15px;
	}
}
@media (min-width: 1200px) and (max-width: 1440px) {
	html, body {
		font-size: 11px;
	}
}
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	html, body {
		font-size: 10px;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	html, body {
		font-size: 9px;
	}
	.header_content__text br {
		display: none;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	html, body {
		font-size: 8px;
	}
	.header_content__text br {
		display: none;
	}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
	html, body {
		font-size: 7px;
	}
	.header_content__text br {
		display: none;
	}
}